<div class="comment">
    <hr class="hidden-sm hidden-xs" />
    <div>
        <h4 id="comment_area">COMMENT</h4>
        <p class="text-center">博客评论区功能由Github Issue提供，提交Issue时<span class="text-danger">请以本文标题为话题</span>。</p>
        <p class="text-primary text-center">"{{ page.subtitle }}-{{ page.title }}"</p>
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2" style="margin-top: 2em;margin-bottom: 1em;text-align: center; border: 0;">
        <a class="mt-2 text-center border-0 p-0" href="https://github.com/{{ site.github_username }}/comments/issues/new" target="blank"><div class="mx-auto btn btn-success text-center rounded-2" style="border-radius: 1em;margin-bottom: 1em;">任何问题，请提交issue</div></a></div>
    </div>
</div>
